div.pk{padding: 50px 0;}
div.background{background: #333; border-top: 1px #000 solid; border-bottom: 1px #000 solid; padding: 0; height: 199px;}

div.mian{margin: auto; width: 1200px;}

.player.left{top: 0; left: 0;}
.player.right{top: 0; right: 0;}

div.pk div.mian{height: 300px; width: 400px; padding: 0 400px; position: relative;}
div.pk div.mian div.chat{height: 300px; width: 790px; float: left;}
div.pk div.mian div.player{position: absolute; width: 400px; height: 300px; background: #000; overflow: hidden; box-shadow: 0 0 5px #000;}
div.pk div.mian div.player embed{}

div.background div.mian ul.list{list-style: none; float: left; width: 1000px;}
div.background div.mian ul.list li{display: inline-block; width: 100px; height: 100px; padding: 0; background: #000; vertical-align: top;}
div.background div.mian ul.list li a{display: inline-block; width: 99px; height: 99px; overflow: hidden;}
div.background div.mian ul.list li a img{width: 100px; height: 100px;}

div.background div.mian ol{float: right; width: 200px;}
div.background div.mian ol a{background: #333; display: inline-block; vertical-align: top;}
div.background div.mian ol a i{display: inline-block; background: url("/images/sider.png");}
div.background div.mian ol a:hover i{background: url("/images/siderHover.png");}

div.background div.mian ol a.reg{width: 200px; height: 100px;}
div.background div.mian ol a.reg i{width: 200px; height: 100px;background-position: 0 -100px;}
div.background div.mian ol a.reg:hover i{}
div.background div.mian ol a.login{width: 175px; height: 100px;}
div.background div.mian ol a.login i{width: 175px; height: 99px;background-position: -25px 0;}
div.background div.mian ol a.login:hover i{}
div.background div.mian ol a.reload{width: 25px; height: 100px;}
div.background div.mian ol a.reload i{width: 25px; height: 99px;}
div.background div.mian ol a.reload:hover i{}